[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
boto3 = "*"
pytest = "*"

[requires]
python_version = "3.8"

[scripts]
test="pytest"
download-dev="python app/s3.py dev download"
upload-dev="python app/s3.py dev upload"
download-prod="python app/s3.py prod download"
upload-prod="python app/s3.py prod upload"
